@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
}

body {
  color: var(--foreground);
  background: 'white';
  font-family: 'Poppins', 'WindSong', 'PoiretOne', 'RougeScript', sans-serif;
}
